# Salin file ini menjadi ".env" lalu sesuaikan dengan konfigurasi lokal Anda.
# Contoh: cp .env.example .env

# Kosongkan jika project ada di root domain (http://localhost/).
# Isi jika project berada di sub-folder, contoh: /perpus-mini
APP_URL=

DB_DRIVER=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=perpus_mini
DB_USER=root
DB_PASS=
